body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: sans-serif, Roboto;
  background-color: #2E3559;
  color: #EFEFEF;
}

h1 {
  color: #8C613B;
}

img {
  height: 50px;
  background-color: #F2C6AC;
  padding: 20px;
  border-radius: 10px;
  opacity: 75%;
}